@import url('https://tofuu.getjusto.com/orioneat-prod/Asfalto.css');
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    font-family: 'Asfalto.otf', sans-serif;
 }

header div{
    width: 100%;
    height: 44px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div p {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    height: 24px;
    width: 1200px;
    font-weight: 400;
}

header nav{
    width: 100%;
    height: 120px;
    background-color: #363736;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 740px;
    border-bottom: 2px solid orange;
}

header nav .logo img{
    width: auto;
    height: 100px;   
}

header nav .botón{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    padding: 7px 10px;
    background-color: orange;
}

header nav .botón img {
    width: 15px;
    height: 13.5px;
    color: white;
}

header .tercer-div {
    width: 100%;
    height: 89.5px;
    background-color: #363736;
    gap: 20px;
    padding: 10px 0px 0px;
}

header .tercer-div a{
    text-decoration: none;
    color: orange;
    font-weight: 500;
    font-size: 25px;
}

.banner {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



main .principal {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

main .principal .menú {
    width: 920px;
    height: auto;
    padding: 30px 0px;
    margin: 0 auto;
}

main .principal .menú .secciones {
    height: 58px;
    width: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0px 0px 10px;
    border-bottom: 5px solid #dcdcdc;
}

main .principal .menú .secciones a {
    height: 58px;
    font-size: 25px;
    color: #3D3D3D;
    text-decoration: none;
    padding: 15px 15.9px;
}


main .principal .menú .new-smash {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}


main div .menú .new-smash section {
    width: 270px;
    height: 350px;
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 44px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5%;
}


main .principal .menú .encabezado {
    font-size: 50px;
    width: auto;
    height: 65.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 2px solid orange;
    padding-bottom: 15px;
}

main .principal .menú .new-smash section a {
    width: 250px;
    height: auto;
    text-decoration: none;
}

main .principal .menú .new-smash section a img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    margin-bottom: 5px;
}



main .principal .menú .new-smash section a .título {
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    color: black;
    font-weight: 700;
}

main .principal .menú .new-smash section a .Precio {
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: black;
    font-weight: 500;
    margin-bottom: 2px;
}


footer {
    width: 100%;
    height: 242px;
    background-color: #363736;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 40px 0 0;
    font-family: 'Open Sans', sans-serif;
}

footer .container {
    width: 100%;
}

footer .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

footer .container .row .col {
    text-align: left;
}

footer .container .row .col ul {
    list-style: none;
    padding: 0;
}

footer .container .row .col ul li {
    margin: 10px 0px 0px;
}

footer .container .row .col h3 {
    font-size: 700;
    color: white;

}

footer .container .row .col ul li a {
    color: white;
    text-decoration: none;
}


footer .boton-whatsapp {
    width: 100px;
    height: auto;
    position: fixed;
    z-index: 100;
    bottom: 4px;
    right: 0;
}
